@import './global.scss';
.app {
   height: 100%;
   width: 100%;
   position: absolute;
   display: flex;
   font-size: 14px;
}

.slider-container {
   flex: 1;
}

@media screen and (max-width: $mobile_width) {
   .app {
      flex-direction: column;
   }
}

.mobile-sidebar-container {
   flex: 1;
   overflow-y: scroll;
   // height: 100%;
}

p {
   color: $secondary_text;
}

.line {
   width: 20px;
   height: 3px;
   border-radius: 5px;
   margin-right: 5px;
}

a {
   color: $primary_text;
   text-decoration: none;
   border-bottom: $border;
}

a:hover {
   border-bottom: 1px solid $primary_text;
}

.flex-bottom {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}
