$covid: #3354e0;
$normal: #33e0c0;

$primary_text: #323232;
$secondary_text: #787878;

$mobile_width: 840px;

$background: #f9f9f9;
$border_color: #e5e5e5;
$border: 1px solid $border_color;
$padding: 15px;

:export {
   covid: $covid;
   normal: $normal;
   mobileWidth: $mobile_width;
}
