@import '../style/global.scss';

$highlight_color: rgb(82, 82, 82);
.city-tile a {
   background: green;
}

.city-tile a:hover {
   border-bottom: 0px;
}

.city-tile {
   // &:first-of-type {
   //    border-top: $border;
   // }
   // margin: 0 calc(#{$padding} * -1);
   border-bottom: $border;
   padding: 10px 15px;
   box-sizing: border-box;

   &:hover {
      border-bottom: $border;
      background: $background;
   }
   user-select: none;
   cursor: pointer;
   transition: 0.1s all;

   display: grid;
   grid-template-columns: 28px 2.2fr 1.5fr 1.5fr;
   input {
      margin: 0;
      padding: 0;
      // margin-right: 15px;
      pointer-events: none;
   }

   .radio-col {
      display: flex;
      align-items: center;
   }

   .flag-cell {
      display: flex;
      align-items: center;
   }
   .lead {
      color: $primary_text;
      font-size: 16px;
      font-weight: 500;

      img {
         margin-right: 5px;
         border-radius: 1px;
         height: 10px;
      }
   }

   .covid-measurement-lead {
      color: $covid;
   }
}
.tile-selected {
   background: $background;
}

.city-header {
   display: grid;
   grid-template-columns: 28px 2.2fr 1.5fr 1.5fr;
   padding: 10px 15px;
   border-bottom: $border;

   .sublead {
      color: $secondary_text;
      font-size: 11px;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
   }
}
