@import '../style/global.scss';

.mobile-nav {
   height: 50px;
   background: white;
   border-top: $border;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr;

   .tab {
      display: flex;
      align-items: center;
      justify-content: center;

      color: $secondary_text;
      font-size: 16px;

      border-bottom: 2px solid rgba(0, 0, 0, 0);
      transition: 0.3s all;

      .icon {
         margin-right: 10px;
         font-size: 20px;
      }

      cursor: pointer;

      &:hover {
         background: $background;
      }
   }

   .tab-selected {
      border-bottom: 2px solid $primary_text;
      color: $primary_text;
   }
}

h1 {
   font-size: 16px;
}

.logo {
   height: 30px;
   width: 30px;
}
