@import '../style/global.scss';

$background: #f9f9f9;
$border_color: #e5e5e5;
$border: 1px solid $border_color;
$padding: 15px;
.sidebar {
   background: white;
   width: 400px;
   border-right: $border;

   p {
      margin: 0;
   }

   .top {
      background: $background;
      border-bottom: $border;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .top-left {
         display: flex;
         align-items: center;

         h1 {
            font-size: 20px;
            color: $primary_text;
            font-weight: 500;
            margin: 0;
         }

         p:last-of-type {
            margin-bottom: 0;
         }

         .vertical-line {
            height: 25px;
            width: 1px;
            margin: 0 10px;
            background: $border_color;
         }
      }
   }

   .logo {
      height: 35px;
      width: 35px;
   }

   .section {
      border-bottom: $border;
      padding: $padding;
      .section-title {
         font-weight: 500;
         padding-bottom: 10px;
         font-size: 16px;
         color: $primary_text;
      }
      color: $secondary_text;

      .section-content {
         display: grid;
         row-gap: 10px;
      }
   }

   .legend-row {
      display: flex;
      align-items: center;
   }

   .city-grid {
      display: flex;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;

      $highlight_color: rgb(82, 82, 82);

      .city-tile {
         border: $border;
         border-radius: 3px;

         box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
         cursor: pointer;
         transition: 0.1s all;

         .tile {
            height: 60px;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-size: cover;
            box-sizing: border-box;
         }
         .label {
            padding: 8px;

            .label-city {
               color: $primary_text;
               font-weight: 500;
               margin-bottom: 3px;
            }

            .label-province {
               color: $secondary_text;
               font-size: 13px;
            }
         }
      }

      .tile-selected {
         border: 1px solid $highlight_color;
      }
   }
}

@media screen and (max-width: $mobile_width) {
   .sidebar {
      height: auto !important;
      order: 1;
      width: 100%;
      border-right: none;

      .top h1 {
         font-size: 16px;
      }

      .logo {
         height: 30px;
         width: 30px;
      }
   }
}
